
/*
    RESET 
*/

/*
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --bs-offcanvas-width: 900px;
    --main-aside-height: calc(100vh - 80px);
}


body > .row{
    height: var(--main-aside-height);
}

/*
    HEADER
*/

.my-input-search{
    background-color: var(--bs-gray-100);
}

.my-dropdown-toggle::after{
    border: 0;
    margin-left: 0;
    margin-right: 0;
}

.logo_container > img:last-child{
    height: 50px;
}

.my-input-search:focus{
    box-shadow: none
}

header .input-group > span {
    border-radius: 15px 0 0 15px;
}


header .input-group > input {
    border-radius: 0 15px 15px 0;
}

/*
    ASIDE
*/

aside{
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

aside nav li:hover, aside > div > div:hover{
    background-color: darkgray;
}

/*
    MAIN
*/

main{
    height: 100%;
}

.my-badge{
    background-color: var(--bs-link-hover-color);
}

.my-icon{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: lightcoral;
}


#offcanvasRight{
    width: 100%;
}

@media screen and (min-width: 992px){
	#offcanvasRight{
        width: 50%;
    }
}


