
/*
    RESET 
*/

/*
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}



/*
    HEADER
*/

.my-input-search{
    background-color: var(--bs-gray-100);
}

.my-dropdown-toggle::after{
    border: 0;
    margin-left: 0;
    margin-right: 0;
}


/*
    MAIN
*/



/*
    DEBUG
*/
/* 
header{
    min-height: 80px;
} */

/* header .col-auto, header .col{
    border: 1px dashed red;
    min-height: 80px;
}  */
