
/*
    RESET 
*/

/*
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --bs-offcanvas-width: 900px;
}

/*
    HEADER
*/

.my-input-search{
    background-color: var(--bs-gray-100);
}

.my-dropdown-toggle::after{
    border: 0;
    margin-left: 0;
    margin-right: 0;
}

.my-input-search:focus{
    box-shadow: none
}

/*
    ASIDE
*/

aside{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

aside nav li:hover, aside > div > div:hover{
    background-color: darkgray;
}

/*
    MAIN
*/

.my-badge{
    background-color: var(--bs-link-hover-color);
}



/*
    DEBUG
*/


body > .row{
    height: calc(100vh - 80px);
}

aside{

    height: 100%;
}

main{
    width: calc(100% - 200px);
    height: 100%;
}

/* 
header{
    min-height: 80px;
} */

/* header .col-auto, header .col{
    border: 1px dashed red;
    min-height: 80px;
}  */
